@charset "UTF-8";
#main {
	display: flex;
}

#main ul {
	flex: 1;
}

.btn-recommendation {
	line-height: 15px;
	text-align: center;
	color: white;
	background: #003b64;
	display: block;
	font-size: 0.95em;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 0.8em;
	width: 230px;
}

.btn-recommendation:hover, .btn-subscribe:hover {
	color: white;
}

.btn-transp {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.newsTitle {
	text-align: center;
}

.newsItem {
	margin-top: 40px;
}

.locationPartTitle {
	font-weight: bold;
}

.locationPartTitle span {
	font-weight: normal;
}

.grid_3 p {
	line-height: 1.6em;
}

.newsItemContent {
	text-align: justify;
	text-overflow: ellipsis;
}

input.showMoreInput {
	display: none;
}

input:checked ~ p {
	height: 100% !important;
}

label.showMoreLabel {
	color: #007DD3;
}

label.showMoreLabel:hover {
	cursor: pointer;
}

.cinemaInfo {
	margin-top: 10px;
}

.clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px; 
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}

.newsItem{
margin-bottom:5px;
}