#main {
	display: flex;
}

#main ul {
	flex: 1;
}

.btn-recommendation {
	line-height: 15px;
	text-align: center;
	color: white;
	background: #003b64;
	display: block;
	font-size: 0.95em;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 0.8em;
	width: 230px;
}

.btn-recommendation:hover, .btn-subscribe:hover {
	color: white;
}

.btn-transp {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.btn-transp:hover, .btn-transp:active {
	color: #0e83cd;
	background: #fff;
}

.newsTitle {
	text-align: center;
}

.locationPartTitle {
	font-weight: bold;
}

.locationPartTitle span {
	font-weight: normal;
}

.grid_3 p {
	line-height: 1.6em;
}

.grid_3 {
	margin-left: 10px;
}

.blog-poast-info {
	background: #003B64;
	padding: 0.2em 1em;
	text-align: center;
}

.newsItemContent {
	text-align: justify;
	text-overflow: ellipsis;
}

input.showMoreInput {
	display: none;
}

input:checked ~ p {
	height: 100% !important;
}

label.showMoreLabel {
	color: #007DD3;
}

label.showMoreLabel:hover {
	cursor: pointer;
}

.cinemaInfo {
	margin-top: 10px;
}