.nbs-flexisel-inner {
	margin-right: 20px;
	margin-left: 35px;
}

.percentage-w-t-s p {
	font-size: 1.2em;
	margin: 17px 0 0 5px;
}

.percentage-w-t-s h5 {
	margin-top: 5px;
}

.featured ul li {
	width: 31.333%;
	margin: 0 2% 0 0;
}

.view.view-first img {
	width: 100%;
	height: 290px;
}

.index-title {
	margin-left: 40px;
	margin-top: 20px;
	font-size: 1.7em;
}

.resp-tab-item {
	margin-bottom: 10px;
}

.buy-tickets {
	padding: 8px 20px;
}

.nbs-flexisel-item:hover div.buy-tickets {
	width: 107%;
	margin-left: -5px;
}

.nbs-flexisel-item a img {
	width: 180px;
	height: 240px;
	margin-left: 5px;
}

.nbs-flexisel-item {
	width: 187px ! important;
}

.top-movies-in-india h4 {
	margin-bottom: 15px;
	margin-top: -5px;
}

ul.mov_list {
	margin-top: 8px;
}

.menu-profile{
	background-color: #007DD3;
}
