#user-profile {
	margin-left: 20px;
	font-size: 1.5em;
}

.view.profile {
	margin-right: 25px;
}

.poster {
	width: 180px;
	height: 250px;
}

.info1.profile {
    max-width: 180px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: normal;
    padding-top: 5px;
    margin-bottom: -5px;
    min-height: 43px;
}

.resp-tab-item.active {
	background: #007DD3;
	color: #fff ! important;
}

.resp-tab-item.active>a {
	color: #fff;
}

.panel-primary {
	border-color: #003B64;
}

.panel-primary>.panel-heading {
	background-color: #003B64;
	border-color: #003B64;
}

a {
	color: #003B64;
	text-decoration: none;
}

.nbs-flexisel-inner {
	padding: 0em 0;
	margin-left: 0px;
}

.featured {
	margin: 0em 0;
}

.nbs-flexisel-item {
	width: 179px ! important;
	margin: 0 14px;
}

.slide-tistle h4 {
	padding: 10px;
	text-align: center;
}

.featured ul li {
	width: 33.3%;
	margin: 0 0% 1% 0;
}

.nbs-flexisel-item a img {
	width: 160px;
	height: 230px;
	margin-left: 10px;
}

.date-city {
	padding: 0;
	text-align: center;
}

.date-city h5 {
	font-size: 1em;
	font-weight: 900;
	margin-bottom: 0em;
	letter-spacing: 1px;
}

#profile-tabs {
	margin-bottom: 0.5em;
	padding-bottom: 0em;
}

.buy-tickets {
	top: -35px;
}

div.dataTables_wrapper div.dataTables_length label {
	visibility: hidden;
}

div.dataTables_wrapper div.dataTables_filter input {
	margin-left: 0.5em;
	width: 300px;
}

.slide-title h4 {
	padding: 0px;
	height: 35px;
	font-size: 1em;
	line-height: 1.4em;
	text-align: center;
}

#scrollbar_area {
	height: 52%;
	width: 98%;
}

.responsive-calendar {
	padding-right: 80px;
}

.responsive-calendar .day-headers, .responsive-calendar .days {
	line-height: 0.6;
}

.responsive-calendar .controls h4 {
	color: #003B64;
}

.btn-primary {
	background-color: #003B64;
	border-color: #003B64;
}

.btn {
	padding: 5px 30px;
}

#scrollbar_area {
	position: absolute;
	padding-bottom: 5px;
	padding-left: 5px;
	overflow-y: hidden;
	overflow-x: auto;
}

.featured.user-profile {
	padding-top: 1em;
	margin-left: 0;
}

.featured.user-profile h4 {
	margin-bottom: 10px;
}

.review-slider.user-profile {
	padding: 0;
}

ul.user-left-menu>li>a {
	padding: 5px 5px;
	padding-top: 12.5px;
	padding-bottom: 15px;
}

.main-content {
	padding-bottom: 0em;
}

.col-sm-2.banner-right {
	padding-right: 0px;
	margin-left: 0em;
}

.col-sm-1.user-left-menu {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.w3_megamenu ul.user-left-menu {
	margin-top: 20px;
}

.navbar-collapse.user-left-menu {
	padding-right: 0px;
	padding-left: 0px;
}

.bootpag {
	display: flex;
}

.pagination {
	margin: 0px 0;
}

#total-users {
	width: 100%;
	text-align: end;
	margin-right: 35px;
	font-size: 17px;
	font-weight: 700;
	margin-top: 20px;
}

.panel.custom {
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
}

.recent_24by7 {
	text-align: center;
	margin-top: 15px;
}

.subscribe {
	width: 38.333%;
	margin-right: 0%;
}

.follow-us ul {
	margin-top: 1.6em;
}

.footer-right {
	margin: 0.2em 0;
}

.copy-rights {
	margin-top: 0em;
}

.dropdown-menu {
	min-width: 50px;
}

ul li.paginate_button {
	width: initial;
	float: left;
	margin: 0 0 0 0;
}

#panel-footer {
	height: 40px;
}

.rating {
	cursor: pointer;
	display: inline-block;
	margin-right: -10px;
}

.rating:before, .rating:after {
	display: table;
	content: "";
}

.rating:after {
	clear: both;
}

.rating .star {
	cursor: pointer;
	display: block;
	float: left;
	color: #555555;
	font-size: 20px;
	z-index: 1;
	position: relative;
	width: 20px;
	height: 24px;
	vertical-align: middle;
	line-height: 22px;
}

.rating .star:before, .rating .star:after {
	position: absolute;
	content: '\2605';
	display: block;
	z-index: 2;
	top: 0;
	left: 0;
	vertical-align: middle;
}

.rating .star.on {
	color: gold;
}

.rating .star.on.half {
	color: #555555;
}

.rating .star.on.half:after {
	color: gold;
}

.rating .star.half:after {
	z-index: 3;
	width: 8px;
	overflow: hidden;
}

.rating.poor .star.on {
	color: #ce352c;
}

.rating.poor .star.on.half {
	color: #555555;
}

.rating.poor .star.on.half:after {
	color: #ce352c;
}

.rating.regular .star.on {
	color: gold;
}

.rating.regular .star.on.half {
	color: #555555;
}

.rating.regular .star.on.half:after {
	color: gold;
}

.rating.good .star.on {
	color: #60a917;
}

.rating.good .star.on.half {
	color: #555555;
}

.rating.good .star.on.half:after {
	color: #60a917;
}

.rating:not (.static ) .star:hover {
	color: gold;
}

.rating:not (.static ) .star:hover.half, .rating:not (.static ) .star:hover.on.half
	{
	color: gold;
}

.rating:not (.static ) .star:hover.half:after, .rating:not (.static )
	.star:hover.on.half:after {
	color: gold;
}

.rating:not (.static ):hover>.star, .rating:not (.static ):hover>.star:after
	{
	color: gold;
}

.rating:not (.static ):hover>.star.half, .rating:not (.static ):hover>.star:after.half,
	.rating:not (.static ):hover>.star.on.half, .rating:not (.static ):hover>.star:after.on.half
	{
	color: gold;
}

.rating:not (.static ):hover>.star.half:after, .rating:not (.static ):hover>.star:after.half:after,
	.rating:not (.static ):hover>.star.on.half:after, .rating:not (.static
	 ):hover>.star:after.on.half:after {
	color: gold;
}

.rating:not (.static ) .star:hover ~ .star, .rating:not (.static ) .star:hover 
	 ~ .star:after {
	color: gray;
}

.rating:not (.static ) .star:hover ~ .star.half, .rating:not (.static )
	.star:hover 
	 ~ .star:after.half, .rating:not (.static ) .star:hover ~ .star.on.half,
	.rating:not (.static ) .star:hover ~ .star:after.on.half {
	color: gray;
}

.rating:not (.static ) .star:hover ~ .star.half:after, .rating:not (.static
	 ) .star:hover ~ .star:after.half:after, .rating:not (.static ) .star:hover 
	 ~ .star.on.half:after, .rating:not (.static ) .star:hover ~ .star:after.on.half:after
	{
	color: gray;
}

.rating.small .star {
	width: 14px;
	height: 16px;
	font-size: 14px;
	line-height: 14px;
}

.rating.small .star.half:after {
	width: 6px;
}

.rating.large .star {
	width: 28px;
	height: 30px;
	font-size: 32px;
	line-height: 24px;
}

.rating.large .star.half:after {
	width: 13px;
}

.rating .score {
	display: block;
	font-size: 0rem;
}

.rating.small .score {
	font-size: 0rem;
}

.rating.large .score {
	font-size: 1rem;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

div.dataTables_wrapper div.dataTables_info {
    display: none;
}