.filmTitle {
	text-align: center;
}

.filmPoster img {
	height: 400px;
	width: 300px;
	margin: auto;
	align: bottom;
	margin-top: 20px;
}

.filmFeature label, .filmFeature div {
	font-weight: bold;
	text-align: justify;
	margin-top: 10px;
	max-height: 190px;
    overflow-y: auto;
}

span.featureValue {
	font-weight: lighter;
}

.statisticsAndMark {
	font-size: 0.75em;
}

.statisticsItem {
	text-align: center;
}

.btn {
	border-radius: 0;
}

.notActive {
	-webkit-filter: grayscale(60%);
	filter: grayscale(60%);
}

.notActive .btn-inscription {
	font-size: 0.8em;
}

.btn-relation {
	background: #007DD3;
	color: white;
}

.btn-relation:hover {
	color: #CCC;
}

.sectionHeadline {
	border-radius: 0.3em;
	text-align: center;
	margin-top: 40px;
}

.clientPhoto {
	margin-left: 5px;
	margin-right: 50px;
}

.commentator {
	color: #007DD3;
}

.relatedPosters {
	margin: auto;
	display: block;
	max-width: 100%;
	height: 360px;
}

#location-modal-body {
	height: 400px;
	overflow-y: auto;
}

.movie-date-selection ul li {
	display: inline-block;
	width: 35%;
	text-align: left;
}

.resp-tab-item {
	color: #000;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
	float: left;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.2em;
	font-weight: 600;
	font-family: 'Oxygen', sans-serif;
	background-color: #DDD;
}

.resp-tab-active {
	text-shadow: none;
	color: #fff ! important;
	float: left;
	text-decoration: none;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out;
	text-transform: capitalize;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: #fff;
	background-color: #007DD3;
}

.resp-tab-active.favourite {
	background-color: #5CB85C;
}

#likes, #dislikes {
	background-color: #007DD3 !important;
	color: white;
}

#likeBtn {
	margin-left: 20%;
	margin-right: 10px;
}

#dislikeBtn {
	margin-right: 10px;
}

#likes {
	margin-right: 6%;
}

textarea#commentinput {
	
}

.markAmount {
	padding-top: 8px;
	margin-left: -5px !important;
	font-size: 14px !important;
	background-color: white !important;
	box-shadow: none !important;
	cursor: text !important;
}

#plotParagraph {
	overflow: hidden;
	line-height: 20px; /* font size --> 12px */
	max-height: 160px; /* 8 lines */
	padding: 0;
	margin: 10px 20px 10px 20px;
	display: -webkit-box;
	-webkit-line-clamp: 8; /* 8 lines */
	-webkit-box-orient: vertical
}

.filmFeature {
	margin: 20px 15px 20px 10px;
}

.likes div:hover {
	box-shadow: 0 0 5px #FFF;
}

.poster-view {
	width: 230px;
	height: 310px;
}

.poster-wrapper {
	margin: 0 17px 15px 17px;
}

.comments textarea {
	border: 0px solid #eee;
	outline: none;
	font-size: 14px;
	padding: 15px 15px 20px 20px;
	margin: 1em 1em;
	font-style: italic;
	color: black;
}

.comment {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #DDD;
}

.client {
    width: 10%;
}

.client-message p a {
    letter-spacing: 0px;
    text-transform: none;
}

.resp-tab-item {
    padding: 10px 0px;
}

.control-label-big{
	padding-right: 5px;
}