#user-profile {
	color: #003B64;
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: 1.6em;
	font-weight: 700;
	width: 100%;
}

.like {
	width: 45px;
	margin-right: 30px;
	margin-left: 20px;
	padding-top: 5px;
}

.p_like {
	margin-left: 10px;
	margin-right: 30px;
	padding-top: 13px;
}

.thumbnail {
	border-radius: 0px;
	    margin-bottom: 10px;
}

.pagination {
	margin-top: 10px;
	margin-left: 7px;
}

#total-users {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
}

.nbs-flexisel-item {
	width: 188px ! important;
	margin-right: 2px;
}

.buy-tickets {
	top: 170px;
}

.nbs-flexisel-item:hover div.buy-tickets {
	width: 80%;
}

#search-btn {
	padding: 6px 20px;
	color: #ffffff;
	background-color: #003B64;
}

#search-btn:hover {
	color: #ffffff;
	background-color: #FFC107;
	border-color: #FFC107;
}

#center-content {
	padding: 0px 15px 45px 45px;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 950px;
}

.thumbnail .caption {
	padding: 9px 0;
	padding-bottom: 0px;
}

.buy-tickets {
	background-color: rgb(255, 255, 255);
	padding-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 5px;
}

.thumbnail>img, .thumbnail a>img {
	width: 130px;
	height: 142px;
	margin-top: 10px;
}

.users-top {
	font-size: 15px;
	align-items: center;
	font-weight: 700;
}

.thumbnail .caption {
	position: initial;
	width: 100%;
	text-align: -webkit-center;
}

.title {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 200px;
}

.caption p {
	color: #003B64;
	font-size: 1.1em;
	margin-bottom: 0em;
	text-align: center;
	font-weight: 700;
}

.thumbnail .caption h4 {
	padding: 1px;
	color: #003B64;
	font-weight: 700;
	font-family: sans-serif;
}

.user-star :hover {
	color: #007DD3;
}

.user-star {
	font-size: 20px !important;
	padding-right: 5px;
	color: rgb(255, 204, 7);
}

.nbs-flexisel-item.top {
	min-width: 394px;
}

.thumbnail.top {
	display: flex;
}

.percentage-w-t-s.top {
	margin-left: 20px;
	margin-top: 0px;
}

.top_content {
	display: inline-flex;
	width: 188px;
	margin-left: 15px;
}

.top_p {
	padding-left: 30px;
	margin-right: 18px;
}

.tab_desc.top {
	padding: 8px 35px 0px 35px;
}

.tab_desc.top a {
	margin-bottom: 0em;
}

#img_top {
	margin-top: 7px;
	margin-left: 7px;
}

.date-city.top h5 {
	color: #007DD3;
	font-size: 1.4em;
	font-weight: 800;
	margin-bottom: 0em;
	letter-spacing: 1px;
}

.thumbnail.top {
	margin-bottom: 10px;
}

.thumbnail .caption.top {
	padding: 6px 0;
}

.likes {
	font-size: 25px;
	margin-top: -5px;
}

.div-like {
	display: inline-flex;
	width: 100%;
	margin-left: 25px;
	margin-top: 10px
}