#center-content {
	padding-left: 30px;
	padding-right: 30px;
	width: 75%;
}

.user {
	display: -webkit-inline-box;
}

#user-photo {
	margin-top: 10px;
	align: center;
}

#userName {
	font-size: 1.7em;
	padding: 10px 0px 0px 22px;
	color: #003B64;
	font-weight: 700;
	font-family: sans-serif;
}

.user-photo {
	width: 150px;
	height: 160px;
}

#statistics {
	display: -webkit-inline-box;
	height: 70px;
	margin-bottom: 10px;
	padding-left: 20px;
}

h4 {
	color: #003B64;
	font-weight: 700;
	font-family: sans-serif;
}

.btn-subscribe {
	text-align: center;
	width: 100%;
	padding: 10px;
	color: white;
	background: #003b64;
	padding: 9px;
	font-weight: 600;
	margin-bottom: 0.8em;
}

.btn-subscribe:hover {
	color: #333;
	background-color: #fff200;
}

.btn-unsubscribe {
	text-align: center;
	width: 100%;
	padding: 10px;
	color: white;
	padding: 9px;
	font-weight: 600;
	margin-bottom: 0.8em;
}

.panel {
	margin-bottom: 0px;
}

.percentage-w-t-s p.p-like {
	font-size: 1.3em;
	font-weight: 600;
	padding: 5px 20px 0px 5px;
}

.likes p.p-like {
	font-size: 0.6em;
	font-weight: 600;
	padding: 19px 20px 0px 5px;
}

.likes {
	font-size: 25px;
	margin-top: -5px;
}

.div-like {
	display: inline-flex;
	width: 100%;
	margin-left: 25px;
	margin-top: 10px
}

.poster {
	max-height: 240px;
}