
#titlediv
{
	padding-top:20px;
	padding-left:210px;
}
#demo
{
  padding-top:20px;
  padding-left:50px;
}
.cityUL li
{
padding-top:15px;
padding-left:1px;
}
.cinema {
 list-style-type: none;
 width: 300px;
}

p{
	clear:both;
}
h6{
	clear:both;
}

h2 {
 font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

 li h2 {
 float: left;
 margin: 0 15px 0 0;
}

li p {
 font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
.submitLink {
  font-family: "Verdana", sans-serif;
	font-size: 1em;
	text-align: left;
	color: black;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
h4 {
 padding-top: 6px;
}

.Row {
 display: table;
 width: 100%; /*Optional*/
 table-layout: fixed; /*Optional*/
 border-spacing: 3px; /*Optional*/
 padding-bottom:20px;
}


.Column {
 display: table-cell;
}

.cinema-search h4 {
    color: #007DD3;
    margin-bottom: 5px;
    font-size: 1.05em;
    font-weight: 600;
}

#user-profile {
    color: #003B64;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.6em;
    font-weight: 700;
    width: 100%;
}