div.characteristicListModal {
	list-style-type: none;
}

p.characteristicModal {
	font-weight: bold;
	text-align: justify;
}

.featured ul {
    text-align: center;
}

ul li.resp-tab-item  {
    width: 50%;
}

ul li.resp-tab-item.active{
    background-color:#003B64;	
}

span.characteristicContentModal {
	font-weight: lighter;
}

.allItemBig {
	height: 300px;
}

.allItemSmall {
	height: 160px;
	font-size: 0.8em;
}

.dataBig {
	height: 160px;
}

.dataSmall {
	height: 120px;
}

.subscriptionHeader {
	border-radius: 0.3em;
	margin-top: 30px;
	margin-bottom: 5px !important;
	color: rgb(0, 59, 100);
	font-size: 22.4px;
	margin-bottom: 70px;
}

li.subscribingItem, li.subscriberItem {
	list-style-type: none;
}

.friendName {
	text-align: right;
	font-weight: bold;
}

.heading {
	font-weight: bold;
	display: inline-block;
}

.left-menubar {
	padding-left: 0;
	padding-right: 0;
}

.btn-base {
	border-radius: 0;
}

.btn-subscribe {
	line-height: 15px;
	text-align: center;
	color: white;
	background: #003b64;
	padding: 9px;
	display: block;
	font-size: 0.95em;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 0.8em;
}

.btn-recommendation {
	line-height: 15px;
	text-align: center;
	color: white;
	background: #003b64;
	display: block;
	font-size: 0.95em;
	font-weight: 600;
	text-decoration: none;
	margin-bottom: 0.8em;
}

#recommendation-modal-header {
	background: #007DD3;
	color: white;
	margin-bottom: -30px;
}

div#recommendationModal{
padding-top:20px;
}

.btn-recommendation:hover, .btn-subscribe:hover {
	color: white;
}

.input-group-btn{
	margin-left:-4px;
}

.search-btn{
    padding: 6px 20px;
    color: #ffffff;
    background-color: #003B64;
}

.search-btn:hover {
    color: #ffffff;
    background-color: #FFC107;
    border-color: #FFC107;
}

.subscribeIfPossible {
	height: 35px;
}

.goToUserLink:hover .friendName {
	text-decoration: underline;
}

.w3_megamenu{
	margin-bottom:0;
}

.Aligner {
	display: flex;
	align-items: center;
	min-height: 5em;
	justify-content: center;
}

.Aligner-small {
	display: flex;
	align-items: center;
	min-height: 3em;
	justify-content: center;
}

.linkHelper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.Aligner-item {
	flex: 1;
}

.Aligner-item--top {
	align-self: flex-start;
}

.Aligner-item--bottom {
	align-self: flex-end;
}

.totalSubscriptions{
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    padding-top: 10px;
}

.featured ul li.subscriberItem{
	width:25%;
}

.featured ul li.subscriberItem .heading{
	font-size:0.95em;
}