.pagination > li:last-child > a, .pagination > li:first-child > a, div.dataTables_wrapper div.dataTables_filter input {
	border-radius: 0px;
}

html, body {
    min-width: 480px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 12.5px;
    padding-bottom: 15px;
}

body .container:first-of-type:before {
    display: block;
    content: " ";
    background: url("../images/title0.png") no-repeat left bottom;
    background-size: contain;
    width: 100%;
    min-height: 100px;
    position: relative;
    margin-top: 48px;
    margin-bottom: 16px;
    /*opacity: 0.6;*/
}

.mm-header {
    height: 64px;
    padding: 12px 6px;
    background-color: #007DD3;
    /*background-color: #fff;*/
    /*border-bottom: 1px dashed #003b64;*/
}

.mm-header .left-search {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: right;
    height: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}

.mm-header .center-search {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
    padding: 0;
}

.mm-header .right-search {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: #fff;
    height: 100%;
}

.mm-logo img {
    height: 55px;
}

.mm-search-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
}

.mm-search {
    background: #fff;
    border: 1px solid #fff;
    padding: 6px;
}

.mm-search .fa-search {
    margin: 0 4px;
    color: #003b64;
}

.mm-search input {
    background: #fff;
    width: calc(100% - 30px);
    border: none;
    box-shadow: none;
    outline: none;
}

.mm-search input:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.mm-search ul {
    display: block;
    position: absolute;
    width: calc(100%);
    height: auto;
    background: #eee;
    border: 1px solid #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    z-index: 1000;
}

.mm-search ul a,
.mm-search ul a:hover,
.mm-search ul a:visited,
.mm-search ul a:link,
.mm-search ul a :active {
    text-decoration: none;
    color: inherit;
}

.mm-search ul li {
    display: flex;
    flex-flow: nowrap row;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #aeaeae;
    color: #003b64;
    transition: all 0.5s linear;
}

.mm-search ul a:last-child li {
    border-bottom: none;
}

.mm-search ul li:hover,
.mm-search ul li:focus,
.mm-search ul li.focus {
    background-color: #007DD3;
    color: #fff;
    padding: 15px 10px;
    outline: none;
}

.mm-search ul li img {
    max-height: 80px;
    max-width: 80px;
    margin-right: 20px;
    border: 1px solid #fff;
}

.mm-search ul li p ._title {
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
}

.mm-search ul li p ._title ._highlight {
    font-weight: 800;
}

.mm-search ul li p ._rating {
    font-size: 14px;
    float: right;
    font-weight: 600;
}

.mm-search ul li p ._genres {
    font-weight: 700;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px; /* font size --> 12px */
    height: 20px; /* 3 lines */
    padding: 0;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.mm-search ul li p ._plot {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px; /* font size --> 12px */
    height: 40px;
    padding: 0;

    display: -webkit-box;
    -webkit-line-clamp: 2; /* 3 lines */
    -webkit-box-orient: vertical
}

.highlight {
    background-color: #007DD3;
    color: #fff;
}

.poster-div {
    background-position: center center;
    background-size: cover;
}

.main-content {
    margin: 0;
    padding: 0;
    background: #fff;
}

.main-content .container-fluid {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    min-height: 768px;
    margin: 0;
    padding: 0;
}

#content-long {
    background-color: #fff;
    margin: 0;
    padding: 15px 15px 45px 15px;
}

#left-side-bar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 56px;
    min-width: 56px;
}

#left-side-bar nav {
    display: block;
    align-items: stretch;
    background-color: #003b64;
    color: #fff;
    margin: 0;
    padding: 0;
}

#center-content {
    width: calc(75% + 56px);
    margin: 28px 0;
    padding: 0 15px;
}

#right-side-bar {
    align-items: stretch;
    background: #fff;
    border-left: 1px solid #eee;
    margin: 28px 0;
}

.footer {
    padding: 0;
    margin: 0;
}

.footer .footer-right {
    margin: 0;
}

.moderator-bottom-collapse {
    border-bottom: 1px solid #eee;
    padding: 1em 0;
    margin: 1.5em 0;
}

.item-icon {
    display: inline-flex;
    flex-flow: nowrap column;
    font-size: 20px;
    width: 56px;
    height: 48px;
    margin: 0;
    padding: 0;
    color: #fff;
    white-space: nowrap;
    align-items: center;
}

.item-icon:hover {
    background-color: #007DD3;
    color: #fff;
}

.item-icon i {
    margin: auto;
}

.item-icon img {
    padding: 3px 0;
    margin: auto;
    height: 42px !important;
}

a.item-icon:link, a.item-label:link, a.item-icon:visited, a.item-label:visited,
a.item-icon:hover, a.item-label:hover, a.item-icon:active, a.item-label:active {
    text-decoration: none;
    color: white;
}

.item-label {
    display: none;
    flex-flow: nowrap column;
    background-color: #007DD3;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 48px;
    padding: 0 10px 0 56px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.item-label span {
    margin: auto;
}

.menu-item:hover .item-icon {
    position: relative;
    z-index: 1025;
    font-size: 36px !important;
    background: transparent;
    animation: growAndRotate 500ms ease forwards;
}

@keyframes growAndRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(24deg);
    }
}

.menu-item:hover .item-label {
    display: inline-flex;
    position: absolute;
    z-index: 1024;
    animation: moveFromLeft 500ms ease forwards;
}

@keyframes moveFromLeft {
    from {
        transform: translateX(-100%) translateY(-100%);
    }
    to {
        transform: translateX(0%) translateY(-100%);
    }
}

#headermenu {
    margin: 0;
}

a.advance-search-sub {
    text-decoration: none;
}

.movies-pagination, .users-pagination, .moderator-pagination {
    text-align: center;
    color: #4d4d4d;
    padding: 5px 17px;
    background: #f2f0f3;
    font-size: 0.875em;
    font-weight: 700;
    text-decoration: none;
    margin-top: 8px;
    text-transform: uppercase;
}

.movies-pagination:hover, .movies-pagination:focus, .users-pagination:hover,
.users-pagination:focus, .moderator-pagination:focus,
.moderator-pagination:hover {
    text-decoration: none;
    cursor: pointer;
}

.advance-search-sub-element {
    text-decoration: none;
    cursor: pointer;
}

.advanced-search h4 {
    color: #007DD3;
    margin-bottom: 20px;
    font-size: 1.05em;
    font-weight: 600;
}

.btn-flat {
    padding: 7px 18px !important;
    border: none !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
    outline: none !important;
}

.input-flat {
    outline: none !important;
    border: 1px solid #D3CFCF !important;
    border-radius: 0 !important;;
    box-shadow: none !important;
}

.input-flat:focus {
    border: 1px solid #007DD3 !important;
    box-shadow: 0 0 1px #007DD3 !important;
    outline: none !important;
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info,
.btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active,
.btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active,
.btn-info {
    color: #fff;
    background-color: #007DD3;
    border: none;
    box-shadow: none;
    outline: none;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #58595b;
    border: none;
    box-shadow: none;
    outline: none;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
a.btn-primary, .btn-primary {
    color: #fff !important;
    background-color: #003b64 !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.href.btn-primary:hover, .href.btn-primary:focus, .href.btn-primary:active,
.href.btn-primary.active {
    color: #fff200 !important;
    background-color: #003b64 !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
.btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #fff200 !important;
    color: #333 !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.panel {
    border-radius: 0;
}

.pager li.page-number {
    display: inline-block;
    padding: 5px 14px;
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.pager li.previous a, .pager li.next a {
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #333;
}

.pager li.previous:hover a, .pager li.next:hover a {
    border-radius: 0;
    border: 1px solid #007DD3;
    background-color: #fff;
    color: #007DD3;
}

.pager li.disabled a, .pager li.disabled a:hover {
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #999;
    cursor: not-allowed;
}

.pager a, .pager a:hover, .pager a:active, .pager a:visited {
    color: inherit;
    text-decoration: none;
}

.title {
    color: #003b64;
    margin-bottom: 10px;
    font-weight: 700;
}

.dropdown-menu-flat {
    width: inherit !important;
    min-width: 54px !important;
    background-color: #007DD3;
    border-radius: 0 !important;
    padding: 0;
}

.dropdown-menu-flat > li > a {
    color: #FDFDFD;
    padding: 5px 16px 5px 15px;
    background-color: #007DD3;
}

.dropdown-menu-flat .divider {
    margin: 5px 5px;
}

.dropdown-menu-flat > li > a:hover {
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffff00;
}

.fa.fa-and-text {
    margin-right: 5px;
}

.error-page {
    padding: 5em 5em;
}

.film-editor, .film-editor:visited, .film-editor:active, .film-editor:focus {
    color: #007DD3;
}

.btn-publish {
    text-align: center;
    color: #fff;
    padding: 5px 17px;
    background: #003b64;
    display: block;
    font-size: 0.875em;
    font-weight: 700;
    text-decoration: none;
    margin-top: 8px;
    text-transform: uppercase;
    border: 0;
}

.btn-publish:hover {
    background-color: #fff200;
    color: #000;
}

.film-description {
    border: 0;
    resize: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
}

.film-description:focus {
    border: 1px solid #007DD3;
    box-shadow: 0 0 1px #007DD3;
}

.film-info h5 {
    color: rgb(51, 51, 51);
}

.films-content {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding-bottom: 15px;
}

.poster-wrapper {
    display: inline-flex;
    flex-flow: column nowrap;
    margin: 0 15px 15px 15px;
}

.overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
}

.color-tooltip + .tooltip > .tooltip-inner {
    background-color: rgb(255, 242, 0);
    color: rgb(51, 51, 51);
}

.header {
    padding-top: 0px;
}

.modal-header {
    background: #007DD3;
    color: white;
    text-align: center;
    height: 75px;
    padding: 20px;
}

.about-left-info p {
    font-size: 14px;
    color: #818181;
    margin: 0 -20px;
    text-align: justify;
    line-height: 1.6em;
}

.film-features h5 {
    padding: 1px;
}

.advanced-search {
    padding-top: 0px;
}

.navbar-default .navbar-nav > li > a.header-menu:hover,
.header-menu-home:hover,
.header-menu:hover,
#header-menu li:hover a,
#header-menu li.highlight {
    background-color: #007DD3;
    color: #fff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.users-bar-grid {
    margin: 8px -8px -8px -8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.users-bar-grid .user-bar {
    margin: 8px;
}

.user-bar {
    position: relative;
    width: 200px;
    height: 325px;
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.user-bar-role {
    z-index: 3;
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    width: 100%;
    height: auto;
    background-color: #003b64;
    color: #fff;
    padding: 10px 15px;
}

.user-bar-role.administrator,
.user-bar-mask-role .administrator {
    background-color: #003b64;
}

.user-bar-role.moderator,
.user-bar-mask-role .moderator {
    background-color: #004e7d;
}

.user-bar-role.user,
.user-bar-mask-role .user {
    background-color: #005796;
}

.user-bar-img {
    z-index: 2;
    position: relative;
    width: 200px;
    height: 200px;
    padding: 25px;
    transition: transform 0.5s linear;
}

.user-bar-img img {
    width: 150px;
    height: 150px;
}

.user-bar-info {
    z-index: 3;
    position: relative;
    color: #fff;
    background-color: #007DD3;
    text-align: center;
    border-top: 1px solid #006cbf;
    padding: 15px;
}

.user-bar-info a,
.user-bar-info a:hover,
.user-bar-info a:visited,
.user-bar-info a:link,
.user-bar-info a:active {
    text-decoration: none;
    color: #fff;
}

.user-bar-info h4,
.user-bar-info h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    margin-bottom: 10px;
}

.user-bar-info:hover {
    /*box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);*/
}

.user-bar-info:hover h4,
.user-bar-info:hover h5 {
    /*overflow: visible;*/
}

.user-bar-info h4 {
    font-size: 17px;
}

.user-bar-info h5 {
    font-size: 15px;
}

.user-bar-main {
    position: absolute;
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.user-bar-mask {
    background-color: #fff;
    z-index: 2;
    position: absolute;
    top: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: calc(100% - 40px - 85px);
    width: 100%;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s linear;
}

.user-bar:hover .user-bar-mask {
    transform: translateY(0);
}

.user-bar:hover .user-bar-img {
    transform: translateY(-100%);
}

.user-bar-mask .user-bar-mask-ban,
.user-bar-mask .user-bar-mask-role {
    display: flex;
    flex-flow: column nowrap;
}

.user-bar-mask .user-bar-mask-ban {
    margin: 5px 15px;
}

.user-bar-mask .user-bar-mask-role {
    margin: 5px 15px;
}

.user-bar-mask button {
    padding: 6px 12px !important;
    margin: 5px 0 !important;
    color: #fff;
}

.user-bar-mask button:hover {
    padding: 10px 16px !important;
    margin: 1px -4px !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5) !important;
    color: #fff;
}

#admin-users-control-pane {
    margin: 0;
}

#users-search-bar {
    display: none;
    padding: 2px;
    margin: 1px 0;
    border-top: 1px solid #fff
}

#users-search-bar input,
#users-search-bar input:focus {
    border: none !important;
}

.hover-shadow{
    box-shadow: none !important;
}

.hover-shadow:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 768px) {
}