<taglib>

	<tlib-version>1.0</tlib-version>
	<jsp-version>2.0</jsp-version>
	<short-name>custamtags</short-name>

	<tag>
		<name>top-three-movies</name>
		<tag-class>com.epam.lab.web.tag.TopMoviesWithPosterTag</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>movies</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>moviesWithStatistic</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tab</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.Integer</type>
			<fragment>false</fragment>
		</attribute>
		<attribute>
			<name>locale</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<fragment>false</fragment>
		</attribute>
	</tag>

	<tag>
		<name>all-users</name>
		<tag-class>com.epam.lab.web.tag.AllUsersTag</tag-class>
		<body-content>scriptless</body-content>
		<attribute>
			<name>users</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>locale</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<type>java.lang.String</type>
			<fragment>false</fragment>
		</attribute>
	</tag>

</taglib>